/*---------------------------*/
/*typography*/
/*---------------------------*/

@font-face {
    font-family: myFont;
    src: url("../font/100.ttf");
    font-weight: 100;
}

@font-face {
    font-family:myFont;
    src: url("../font/normal.ttf") ;
    font-weight: normal;
}

@font-face {
    font-family: myFont;
    src: url("../font/bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: myFont;
    src: url("../font/Lato-Black.ttf");
    font-weight: 900;
}

.small-title {
    font-size: 16px;
}
.dark-color {
    color:#002b41;
}

.white-color {
    color: #ffffff;
}
.less-color {
    color: #b7b6bb;
}
.light-text {
    font-weight: lighter;
}

.main-flat-color {
    background-color: #2d313a;
}
.reverse-color {
    color: #04bebd;
}
.line-height {
    line-height: 1.41;
}
.normal-title {
    font-size: 20px;
}
/*---------------------------*/

body {
    font-family: myFont, sans-serif;
    overflow: auto;

}
.body-class {
    background-repeat: no-repeat;
    background-size: cover;

}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.bg-layer {
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.bg-overplay {
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    background-color: rgba(0,0,0,0.15);
    z-index: -1;
}

.both-centered {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
}

.vertical-centered {
    top: 50%;
    transform: translate(0%,-50%);
    -webkit-transform:translate(0%,-50%);
    position: absolute;

}
.horizontal-centered {
    left: 50%;
    transform: translate(-50%,0%);
    -webkit-transform:translate(-50%,0%);
    position: absolute;

}

.logo-square {
    background-color: #002b41;
    color: #eaeef0;
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    width: 110px;
    padding: 15px 0;
    margin: auto;
    margin-top: 60px;
}

.welcome-to{

    font-weight: bold;
    text-align: center;
    font-size: 28px;
    margin-top: 40%;
}

.long-animation {
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
}

.short-animation {
    animation-duration: 0.5s;
    -webkit-animation-duration: 0.5s;
}


.my-header {
    position: absolute;
    width: 100%;
    top:0;
    background: #2d313a;
    color: #ffffff;
    z-index: 9999;
    transition: transform 0.2s;
    -webkit-transition: -webkit-transform 0.2s;
        -moz-transition: -moz-transform 0.2s;

}
.my-header >div {
    position: relative;
}
.my-header .fa {
    padding: 20px 15px;
    font-size: 22px;

}

body {
    width: 100%;
    height: 100%;
}

.slideout-menu {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    width: 280px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    display: none;
}

.slideout-panel {
    position:relative;
    z-index: 1;
    will-change: transform;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
    overflow: hidden;
}

.slideout-open .slideout-menu {
    display: block;
}

.leftmenu-click-overplay {
    position: absolute;
    z-index: 9999;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(0,0,0,0.5);

}

.hide-element {
    display: none;!important;
}

.hot-item {
    background-color: #ffffff;
    margin: 0;
}
.hot-item:not(:first-of-type) {
    /*border-top: 1px solid #000000;*/
}
.hot-item i.fa {
    padding-top: 20px;
    padding-left: 15px;
}
.hot-item h5{
    font-weight: bold;
    padding: 15px 5px;
}

.hot-item h6.pull-right {
    padding: 19px 10px 15px 0px;

}

/*-------------------------*/
/*Location detail page*/
/*-------------------------*/

.item-action-panel {
    background-color: #04bebd;
}

.item-action-panel > div {
    width: 24%;
    display: inline-block;
    padding: 8px 0px;
    text-transform: uppercase;

}
.item-action-panel > div span {
    font-size: 11px;
}
.item-action-panel > div i {
    font-size: 23px;
}

.lc-item-content {
    /*background-color: #ffffff;*/
    /*padding: 15px 15px;*/
}

.background-overplay {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.hide-header {
    -webkit-transform:translateY(-100%);
    -moz-transform :translateY(-100%);
    -ms-transform    : translateY(-100%);
    -o-transform      : translateY(-100%);
    transform: translateY(-100%);
}

.overview {
    background: #fff;
    padding: 10px;
    margin: 5px;
}

.overview .info-item:not(:first-of-type) {
   padding-top: 10px;
    border-right: 2px solid #DEDEDE;
    border-bottom: 2px solid #DEDEDE;
}

.angular-google-map-container { height: 300px; }

.short-map {
    height:350px;
}

.menu-container {

}
.menu-container .menu-item {
    transition: background,transform 0.2s;
    border-left: 5px solid #04bebd;
    transform: translateX(-5px);
    -webkit-transform:translateX(-5px);
}
.menu-container .menu-item:active{
    background-color: #dadada;
    transform: translateX(0px);
    -webkit-transform:translateX(0px);
}
.menu-container .menu-item h4 {
    padding: 15px 10px;
    margin: 5px 0;
}

.no-margin-top {
    margin-top: 0;
}

.category-item {
    margin-top: 20px;
}