<div class="background-overplay" style="background-color: #ffffff"></div>
<div class="row no-padding no-margin">
    <div class="embed-responsive embed-responsive-16by9">
            <div class="embed-responsive-item">
                <img class="img-responsive" style="height: 100%;width: 100%" ng-src="{{item.cover}}">
            </div>
    </div>
    <div class="item-action-panel text-center white-color">
        <div>
            <div><i class="fa fa-bookmark"></i></div>
            <span class="no-margin">Lưu lại</span>
        </div>
        <div>
            <div><i class="fa fa-subway"></i></div>
            <span class="no-margin">Đi tour</span>
        </div>
        <div>
            <div><i class="fa fa-map"></i></div>
            <span class="no-margin">Chỉ đường</span>
        </div>
        <div>
            <div><i class="fa fa-eye"></i></div>
            <span class="no-margin">Tương tự</span>
        </div>
    </div>

    <div class="lc-item-content">
        <div class="overview">
            <h4 class="normal-title" style="font-weight: bold">Tổng quan</h4>
            <h4 class="line-height small-title">{{item.content}}</h4>
        </div>

        <div class="overview" style="margin-top: 20px">
            <h4 class="normal-title" style="font-weight: bold">Facts</h4>
            <h4 class="line-height small-title"></h4>
        </div>
    </div>
</div>