<div class="background-overplay" style="background-color: #f3f3f3"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-4 category-item text-center">
            <div class="rounded-icon embed-responsive img-circle" style="padding-bottom: 100%">
                <img class="embed-responsive-item img-responsive " ng-src="img/icon/Camera.png">
            </div>
            <h4>Tham quan</h4>
        </div>
        <div class="col-xs-4 category-item text-center">
            <div class="rounded-icon embed-responsive" style="padding-bottom: 100%">
                <img class="img-responsive img-rounded" ng-src="img/icon/Camera.png">
            </div>
            <h4>Tham quan</h4>
        </div>
        <div class="col-xs-4 category-item text-center">
            <div class="rounded-icon embed-responsive" style="padding-bottom: 100%">
                <img class="img-responsive img-rounded" ng-src="img/icon/Camera.png">
            </div>
            <h4>Tham quan</h4>
        </div>
    </div>
</div>