<div class="background-overplay" style="background-color: #f3f3f3"></div>
<div class="container-fluid">
    <div class="row" style="padding-top: 10px">
        <div class="col-xs-4 category-item text-center">
            <div class="rounded-icon embed-responsive img-circle" style="padding-bottom: 100%">
                <img class="embed-responsive-item img-responsive " ng-src="img/icon/Camera.png">
            </div>
            <h6>Tham quan</h6>
        </div>
        <div class="col-xs-4 category-item text-center">
            <div class="rounded-icon embed-responsive img-circle" style="padding-bottom: 100%">
                <img class="embed-responsive-item img-responsive " ng-src="img/icon/Home.png">
            </div>
            <h6>Lưu trú</h6>
        </div>
        <div class="col-xs-4 category-item text-center">
            <div class="rounded-icon embed-responsive img-circle" style="padding-bottom: 100%">
                <img class="embed-responsive-item img-responsive " ng-src="img/icon/Gift.png">
            </div>
            <h6>Ăn uống</h6>
        </div>
        <div class="col-xs-4 category-item text-center">
            <div class="rounded-icon embed-responsive img-circle" style="padding-bottom: 100%">
                <img class="embed-responsive-item img-responsive " ng-src="img/icon/Shopping.png">
            </div>
            <h6>Mua sắm</h6>
        </div>
        <div class="col-xs-4 category-item text-center">
            <div class="rounded-icon embed-responsive img-circle" style="padding-bottom: 100%">
                <img class="embed-responsive-item img-responsive " ng-src="img/icon/Download.png">
            </div>
            <h6>Đã lưu</h6>
        </div>
        <div class="col-xs-4 category-item text-center">
            <div class="rounded-icon embed-responsive img-circle" style="padding-bottom: 100%">
                <img class="embed-responsive-item img-responsive " ng-src="img/icon/Map.png">
            </div>
            <h6>Gần tôi</h6>
        </div>
    </div>
</div>