<div class="background-overplay" style="background-color: #f3f3f3"></div>
<div class="row no-padding no-margin animated slideInRight short-animation">
    <div class="embed-responsive embed-responsive-16by9">
            <div class="embed-responsive-item">
                <img photo-click="{{item.cover}}" class="img-responsive" style="height: 100%;width: 100%" ng-src="{{item.cover}}">
            </div>
    </div>
    <div class="item-action-panel text-center white-color">
        <div>
            <div><i class="fa fa-bookmark"></i></div>
            <span class="no-margin">Lưu lại</span>
        </div>
        <div>
            <div><i class="fa fa-subway"></i></div>
            <span class="no-margin">Đi tour</span>
        </div>
        <div>
            <div><i class="fa fa-map"></i></div>
            <span class="no-margin">Chỉ đường</span>
        </div>
        <div>
            <div><i class="fa fa-eye"></i></div>
            <span class="no-margin">Xem hình</span>
        </div>
    </div>

    <div class="lc-item-content">
        <div class="overview">
            <h4 class="no-margin-top" style="font-weight: bold">Tổng quan</h4>
            <h4 class="line-height small-title" >{{item.content}}</h4>
        </div>
        <div class="overview" ng-if="item.info.length>0">
            <div class="info-item" ng-repeat="info in item.info">
                <div class=" small-title" style="font-weight: bold">{{info.name}}</div>
                <div class=" small-title">{{info.content}}</div>
            </div>

        </div>
        <div class="overview">
            <map ng-transclude class="short-map"  center="map.center" options="map.options">
                <marker position="marker.position" decimals="marker.decimals" options="marker.options"></marker>
            </map>
        </div>

        <div class="overview" ng-show="false">
            <h4 class="no-margin-top" style="font-weight: bold">Bài viết</h4>
            <div>
            </div>
        </div>
    </div>



</div>





</div>